[Unit]
Description=EddyViewer HTTP Service Daemon
After=network.target

[Service]
Type=simple
User=linaro
WorkingDirectory=/home/linaro/Documents/eddyviewer/build
ExecStart=/home/linaro/Documents/eddyviewer/build/eddyviewer --docroot . --http-address 0.0.0.0 --http-port 9090 --config=../wt_config.xml
Restart=always

[Install]
WantedBy=multi-user.target
