[Unit]
Description=EddyViewer Camera Service Daemon
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/Documents/eddyviewer
ExecStart=/usr/bin/python3 eddyviewer.py
Restart=always

[Install]
WantedBy=multi-user.target
